<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapp">

    <application
        android:name=".OfflineSupport"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Manage4me"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SpendingsActivity"
            android:label="Budget"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreenActivity" />
        </activity>

        <activity
            android:name=".AboutActivity"
            android:label="About the App"
            android:screenOrientation="portrait"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
        </activity>

        <activity
            android:name=".PrivacyActivity"
            android:label="Privacy"
            android:screenOrientation="portrait"
            android:parentActivityName=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SettingsActivity" />
        </activity>

        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreenActivity" />
        </activity>

        <activity
            android:name=".EditSubActivity"
            android:label="Edit Subscription"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreenActivity" />
        </activity>

        <activity
            android:name=".HomeScreenActivity"
            android:label="Manage4me">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SubInfoActivity"
            android:label="Subscription Information"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreenActivity" />
        </activity>

        <activity
            android:name=".AddSubActivity"
            android:label="Add a new Subscription"
            android:screenOrientation="portrait"
            android:parentActivityName=".HomeScreenActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomeScreenActivity" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

</manifest>